body{
    background-color: rgba(216, 191, 216);
    padding-top: 2em;
    padding-bottom: 2em;
}

#playing-cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.card{
    display: flex;
    justify-content: space-between;

    min-width: 9.5em;
    aspect-ratio: 2 / 3;

    background-color: white;

    padding: 0.7em;
    font-size: 2.5em;

    border: 0.05em solid black;
    border-radius: 0.4em;

    box-shadow: 4px 5px 5px grey;
}

.left{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

.middle{
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: center;

    font-size: 3em;
}

.middle > div:last-of-type{
    transform: rotate(180deg);
}

.right{
    display: flex;
    flex-direction: column;
    align-self: flex-end;

    justify-items: center;
    transform: rotate(180deg);
}

.left>span:nth-child(2), .right>span:nth-child(2){
    font-size: 1.175em;
    font-weight: 900;
}

.red{
    color: red;
}